## 24/7

In [70]:
from tools.read_file_tool import *
from tools.allocation_tool import *
from tools.pricesheet_tool import *

## DLPM Price List

In [71]:
allocation_df, price_sheet_df = read_allocation_pricesheet()
cleaned_price_sheet_df = clean_price_sheet_df(price_sheet_df)
cleaned_price_sheet_long_df = build_price_sheet_long(cleaned_price_sheet_df)

In [72]:
write_DLPM_file(cleaned_price_sheet_long_df, initials= 'p.y')

WindowsPath('output_folder/09-10-25 247DLPM.txt')

In [73]:
cleaned_price_sheet_long_df

    Store#  Item#  Vendor#   Cost
0      123  29549    81214  12.14
1      123  71285    81214   8.14
2      123  71695    81214  15.10
3      123  72398    81214   9.14
4      123  72528    81214   2.14
..     ...    ...      ...    ...
865    449  40352    81214   6.30
866    449  77804    81214   7.55
867    449  40376    81214   7.15
868    449  11055    81214   6.35
869    449  80052    81214   7.35

[870 rows x 4 columns]

## DLPM Allocation List
### Remember to change ALTR type before cutting orders

In [77]:
cleaned_allocation_df = clean_allocation_df(allocation_df)
cleaned_allocation_pivot_df = build_allocation_df_cleaned_pivot(cleaned_allocation_df)

In [78]:
cleaned_allocation_output_df = build_allocation_output(cleaned_allocation_pivot_df)
out_path = build_allocation_output_path()
write_allocation_output_excel(cleaned_allocation_output_df, out_path)
write_ADPO_X_file(cleaned_allocation_output_df)

WindowsPath('output_folder/2025-09-10_ADPO_X_Vendor81214.txt')