## ACME
### Remember to change E.D.D

In [1]:
from tools.acme_tool import *
from tools.read_file_tool import *

In [2]:
df, file_name = read_clean_file_name()
cleaned_acme_df = clean_acme_df(df, file_name)
cleaned_acme_output_df = build_acme_output(cleaned_acme_df, edd= '9/22/2025')
out_path = build_acme_output_path(file_name)
write_acme_output_excel(cleaned_acme_output_df, out_path)
write_ADPO_X_file(cleaned_acme_output_df)

WindowsPath('output_folder/2025-09-09_ADPO_X_Vendor44602.txt')

In [3]:
cleaned_acme_output_df

,Branch,Item,Description,Distro Size,Supplier On Record,Expected Delivery Date,WW Buyer,Warehouse,AdditionalXDCK,AmountCode,XDCK,POSTXDCK,FOB
0,14,77853,SMK NOVA SALMON 16OZ,12,44602,9/22/2025,P20,,,,,,
1,14,77854,SMK SALMON P-SLCD R/W,105,44602,9/22/2025,P20,,,,,,
2,14,1840051,SMK SALMON 8OZ,12,44602,9/22/2025,P20,,,,,,
3,23,13592,SMK FISH DIP 5LB,8,44602,9/22/2025,P20,,,,,,
4,23,40389,SMKD SALMON PLATER 12 OZ,24,44602,9/22/2025,P20,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,458,38798,SMK SOCKEYE SALMON 3OZ,24,44602,9/22/2025,P20,,,,,,
64,458,38954,SMKD SALMON PLATER 12 OZ,12,44602,9/22/2025,P20,,,,,,
65,458,77853,SMK NOVA SALMON 16OZ,48,44602,9/22/2025,P20,,,,,,
66,458,77877,HERRING WINE 32OZ,12,44602,9/22/2025,P20,,,,,,
67,458,80029,SMK WHITEFISH SALA 5LB,4,44602,9/22/2025,P20,,,,,,

In [4]:
cleaned_acme_df

   Branch     Item                 Description Distro Size
0      14    77853  SMK NOVA SALMON    16OZ             12
1      14    77854  SMK SALMON P-SLCD  R/W             105
2      14  1840051  SMK SALMON         8OZ              12
3      23    13592  SMK FISH DIP       5LB               8
4      23    40389  SMKD SALMON PLATER 12 OZ            24
..    ...      ...                         ...         ...
63    458    38798  SMK SOCKEYE SALMON 3OZ              24
64    458    38954  SMKD SALMON PLATER 12 OZ            12
65    458    77853  SMK NOVA SALMON    16OZ             48
66    458    77877  HERRING WINE       32OZ             12
67    458    80029  SMK WHITEFISH SALA 5LB               4

[68 rows x 4 columns]

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Review Status,dock,Branch,Item,Description,Distro Size,Forecast,SOH+OO,Onorder,Weight,...,WW Buy Qty,WW List Cost,Case Conversion Count,PD Status,DistroVsFcst,Old Weeks Supply,New Weeks Supply Inc Usage during Lead Time,Lastdelivery,WOH Overstock Threshold,Shelf Life Days
1,No Order - Already Over WOH,407,14,10406,SMK SALMON 4OZ,0,3,60,0,0.25,...,12,4.35,12,NaN,0,18,18,2025-08-15 09:08:52.560000,2.75,240
2,Over Order - New Order Pushes WOH,407,14,11113,HERRING MAJERAS,0,3,13,0,30,...,6,35.18,6,NaN,4,2.333333,6.333333,2025-08-29 11:59:42.843000,2.75,240
3,Over Order - Past Shelf Life,407,14,13592,SMK FISH DIP 5LB,0,3,11,2,5,...,2,35.79,2,NaN,1.333333,1.666667,3,2025-09-04 10:03:51.410000,2.75,21
4,No Order - Already Over WOH,407,14,38798,SMK SOCKEYE SALMON 3OZ,0,2,30,0,0.25,...,12,4.71,12,NaN,0,13,13,2025-07-31 11:06:37.603000,2.75,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624,Under Order - Forecast = 0,436,463,77853,SMK NOVA SALMON 16OZ,0,0,0,0,1,...,12,16.84,12,NaN,NaN,NaN,NaN,1900-01-01 00:00:00,2.75,240
625,No Order - Already Over WOH,436,463,77854,SMK SALMON P-SLCD R/W,0,5.5,197.81,0,1,...,35,12.3,1,NaN,0,33.965455,33.965455,2025-09-03 09:50:52.153000,2.75,240
626,Under Order - Forecast = 0,436,463,77949,HERRING IN WINE 128OZ,0,0,0,0,1,...,4,32.93,4,NaN,NaN,NaN,NaN,1900-01-01 00:00:00,2.75,180
627,Over Order - New Order Pushes WOH,436,463,80349,SMK SALMON TRIM 12OZ,0,7,55,0,0.75,...,12,4.71,12,NaN,1.714286,5.857143,7.571429,2025-09-03 09:50:52.153000,2.75,240
628,No Order - Already Over WOH,436,463,1840051,SMK SALMON 8OZ,0,6.3333,72,0,0.5,...,12,8.6,12,NaN,0,9.367944,9.367944,2025-08-13 08:41:26.370000,2.75,240